<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RespHTML</servlet-name>
        <servlet-class>com.emergentes.RespHTML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespCSV</servlet-name>
        <servlet-class>com.emergentes.RespCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespJSON</servlet-name>
        <servlet-class>com.emergentes.RespJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespXLS</servlet-name>
        <servlet-class>com.emergentes.RespXLS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespXML</servlet-name>
        <servlet-class>com.emergentes.RespXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespPDF</servlet-name>
        <servlet-class>com.emergentes.RespPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RespHTML</servlet-name>
        <url-pattern>/RespHTML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespCSV</servlet-name>
        <url-pattern>/RespCSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespJSON</servlet-name>
        <url-pattern>/RespJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespXLS</servlet-name>
        <url-pattern>/RespXLS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespXML</servlet-name>
        <url-pattern>/RespXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespPDF</servlet-name>
        <url-pattern>/RespPDF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
